<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.myappgen6to7mt">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyAppgen6to7MT">
        <activity
            android:name=".activity.RecyclerviewActivity"
            android:exported="false" />
        <activity
            android:name=".NavigationActivity"
            android:exported="false"
            android:label="@string/title_activity_navigation"
            android:theme="@style/Theme.MyAppgen6to7MT.NoActionBar" />
        <activity
            android:name=".activity.BottomNavActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WhatsAppActivity"
            android:exported="false" />
        <activity
            android:name=".activity.TypeofMenuActivity"
            android:exported="false" />
        <activity
            android:name=".activity.Task2Activity"
            android:exported="false" />
        <activity
            android:name=".activity.FragmentLoadActivity"
            android:exported="false" />
        <activity
            android:name=".activity.FragmentXmlActivity"
            android:exported="false" />
        <activity
            android:name=".activity.AActivity"
            android:exported="false" />
        <activity
            android:name=".activity.BActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CustomGridViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.CustomListViewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.WebviewActivity"
            android:exported="false" />
        <activity
            android:name=".activity.SimpleGridViewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SimpleListviewActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SpinnerActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".activity.DateTimeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.AlertActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SeekbarActivity"
            android:exported="true" />
        <activity
            android:name=".activity.ImagePickActivity"
            android:exported="true" />
        <activity
            android:name=".activity.MainActivity"
            android:exported="true" />
        <activity
            android:name=".activity.HomeActivity"
            android:exported="true" />
        <activity
            android:name=".activity.RelativeTaskActivity"
            android:exported="true" />
        <activity
            android:name=".activity.LinearActivity"
            android:exported="true" />
        <activity
            android:name=".activity.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>